<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                             </span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">{{'Profile' | translate}}</a></li>
                        <li><a ui-sref="app.contacts">{{'Contacts' | translate}}</a></li>
                        <li><a ui-sref="mailbox.inbox">{{'Mailbox' | translate}}</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">{{'Logout' | translate}}</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ui-sref-active="active">
                <a><i class="fa fa-map-o"></i> <span class="nav-label">{{'Projects' | translate}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a><i class="fa fa-building"></i> <span class="nav-label">{{'New projects' | translate}}</span></a>
            </li>
            <li ui-sref-active="active">
                <a><i class="fa fa-map-o"></i> <span class="nav-label">{{'Profile' | translate}}</span></a>
            </li>

        </ul>

    </div>
</nav>